@model IEnumerable<GameStore.Client.Models.DeveloperViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="d-flex justify-content-center pb-4 mt-4">
    <button type="button" class="btn" id="panel-link">@Html.ActionLink("Add Developer", "Add")</button>
</div>

<div class="container bg-white mb-4 w-50">

    <h2>Developers:</h2>

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Developer", new { id = item.Id }, FormMethod.Post))
                    {
                        <button class="btn my-padding p-2" id="panel-link">Delete</button>
                    }
                </td>
            </tr>
        }

    </table>
</div>

<div class="d-flex justify-content-center pb-4 mt-4">
    <button type="button" class="btn" id="panel-link">@Html.ActionLink("Back to games", "../Games/Index")</button>
</div>
