@model GameStore.Client.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<form method="post" class="splash-container">

    <div class="card">

        <h1 class="text-secondary text-center"><i class="fas fa-hand-holding-usd"></i>LARISA PRIVET<i class="fas fa-hand-holding-usd"></i></h1>

        <div class="card-header text-center">

            <h2 class="mb-1 font-weight-bold text-primary">Registrations Form</h2>

            <p>Please enter your user information.</p>

        </div>

        <div class="card-body">

            <div class="form-group">

                <input class="form-control form-control-lg" type="text" id="username" name="username" required="" placeholder="Username" autocomplete="off">

            </div>

            <div class="form-group">

                <input class="form-control form-control-lg" type="email" id="email" name="email" required="" placeholder="E-mail" autocomplete="off">

            </div>

            <div class="form-group">

                <input class="form-control form-control-lg" id="password" name="password" type="password" required="" placeholder="Password">

            </div>

            <div class="form-group">

                <input class="form-control form-control-lg" name="confirm" id="confirm" type="password" required="" placeholder="Confirm">
                @Html.ValidationMessageFor(x => x.Confirm)

            </div>

            <div class="form-group pt-2">

                <button class="btn btn-block btn-primary" type="submit">Register My Account</button>

            </div>

            <div class="form-group">

                <label class="custom-control custom-checkbox">

                    <input class="custom-control-input" id="agree" name="agree" type="checkbox"><span class="custom-control-label">By creating an account, you agree the <a href="#">terms and conditions</a></span>

                </label>

            </div>

            <div class="form-group pt-0">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">

                    <button class="btn btn-block btn-social btn-facebook " type="button">Facebook</button>

                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <button class="btn btn-block btn-social btn-twitter" type="button">Twitter</button>

                </div>

            </div>

        </div>

        <div class="card-footer bg-white">

            <p>Already member? <a href="/Auth/Login" class="text-secondary">Login Here.</a></p>

        </div>

    </div>

</form>

